<h2>ショッピングカート</h2>
<%= link_to "カートを空にする",all_destroy_path, method: :delete ,class: "btn" ,data: {confirm: "カートを空にしてもよろしいですか？"} %> 
  <% @cart_items.each do |cart_item| %>
  <p><%= image_tag cart_item.item.get_image(60,60) %></p>
  <%= cart_item.item.name %>

  <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
   数量
  <%= f.select :quantity , *[1..10] %>
  <%= f.submit "変更",class: "btn" %>
  <% end %>

    <%= cart_item.subtotal %>
    <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn" %>
<% end %>